@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
*{box-sizing: border-box;}
nav {
  background: #413F3C;
  display: block;
  font-family: 'Open Sans', sans-serif;
  opacity:0.89;
}
nav:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.menu > li {
  float: left;
  position: relative;
  border-left: 1px solid black;
  font-family:Сomic Sans MS;
  /*font-family:Consolas;*/
  font-weight:100;
  /*color:maroon;*/
}
.menu > li:first-child {
  border-left: 0;
}
.menu > li > a {
  display: block;
  padding: 20px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #FEFDFD;
  letter-spacing: 2px;
}
.menu > li > a.active, .submenu > li >a:hover {
  color: #ddbe86;
}
.menu .fa, .submenu .fa {
  margin-left: 5px;
  color: inherit;
}
.submenu {
  position: absolute;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  background: white;
  visibility: hidden;
  opacity: 0;
  z-index: 10; 
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  min-width: 200px;
}
.submenu li {
  position: relative;
}
.submenu li a {
  color: #282828;
  display: block;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCC;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}
.submenu li {
  position: relative;
}
li:hover > .submenu {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  visibility: visible;
  opacity:1;
}
.telo {
	position:fixed;
	width:60%;
	height:90%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 20%;
	border-radius:2%;
	border-style:solid;
	background-color:white;
	opacity:0.85;
	text-align:center;
}
.telo:hover {
	position:fixed;
	width:60%;
	height:90%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 20%;
	border-radius:2%;
	border-style:solid;
	background-color:white;
	opacity:0.85;
	text-align:center;
	box-shadow: 0 0 15px rgba(0,0,0,0.9); /* Параметры тени */
}
.q1 {
	overflow-x: hidden;
	overflow-y: hidden;
	position:absolute;
	opacity:0.99;
	text-align:left;
	margin-left: 65%;
	margin-right: 0%;
	border-radius:1%;
	margin-top: -62%;
	text-align:left;
}
.q2 {
	position:relative;
	opacity:0.99;
	text-align:left;
	margin-left: 25%;
	margin-right: 30%;
	border-radius:1%;
	bottom:-11px;
	text-align:center;
	margin-top: 15%;
}
.q2:active {
	position:relative;
	opacity:1.0;
	color:black;
	text-align:right;
	margin-left: 25%;
	margin-right: 30%;
	border-radius:1%;
	bottom:-11px;
	text-align:center;
	margin-top: 15%;
}
.telo1 {
	position:fixed;
	width:80%;
	background-image:url(./img/1.jpg);
	background-repeat: repeat-y, repeat-y;
    background-position: left, right;
    background-attachment:fixed;
	height:10%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 10%;
	border-radius:2%;
	border-style:solid;
	background-color:#e9eef5;
	opacity:0.80;
	text-align:left;
	border-style:solid;
	word-break:break-all;
}
.q3 {
	border-style:solid;
	position:fixed;
	overflow-x: hidden;
	overflow-y: hidden;
	opacity:1.0;
	color:black;
	text-align:right;
	margin-left: 25%;
	margin-right: 30%;
	border-radius:1%;
	bottom:-11px;
	text-align:center;
	margin-top: 15%;
}
.telo3 {
	position:fixed;
	width:60%;
	height:90%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 20%;
	border-radius:2%;
	border-style:solid;
	background-color:white;
	opacity:0.85;
	text-align:center;
	word-break:break-all;
}
.telo3:hover {
	position:fixed;
	width:60%;
	height:90%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 20%;
	border-radius:2%;
	border-style:solid;
	background-color:white;
	opacity:0.85;
	text-align:center;
	word-break:break-all;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.t1 {
	position:absolute;
	top:0%;
	text-align:center;
	word-break:break-all;
	color:black;
}
.t2 {
	position:absolute;
	top:35%;
	text-align:center;
	word-break:break-all;
	color:black;
}
.t3 {
	position:absolute;
	top:70%;
	text-align:center;
	word-break:break-all;
	color:black;
}
.tel {
	position:relative;
	width:60%;
	height:10%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 20%;
	margin-top: 60%;
	border-radius:2%;
	border-style:solid;
	background-color:white;
	opacity:0.85;
	text-align:center;
}
.tel2 {
	position:relative;
	width:19%;
	height:88%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 81%;
	margin-top: -66%;
	border-radius:2%;
	border-style:solid;
	background-color:gray;
	opacity:0.5;
	text-align:center;
}
.tel3 {
	position:relative;
	width:19%;
	height:88%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 0%;
	margin-top: -57%;
	border-radius:2%;
	border-style:solid;
	background-color:gray;
	opacity:0.5;
	text-align:center;
}
.tel2:hover {
	position:relative;
	width:19%;
	height:88%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 81%;
	margin-top: -66%;
	border-radius:2%;
	border-style:solid;
	opacity:0.5;
	color:black;
	background-color:gray;
	text-align:center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.tel3:hover {
	position:relative;
	width:19%;
	height:88%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 0%;
	margin-top: -57%;
	border-radius:2%;
	border-style:solid;
	opacity:0.5;
	color:black;
	background-color:gray;
	text-align:center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}